# Copyright (c) 2024 Analog Devices, Inc.
# SPDX-License-Identifier: Apache-2.0

mainmenu "Uart Main configuration"

config UART_CLIENTNAME
	string "Client name for the Uart User"
	default "UartModbusUser"
	help
	  UART Client Name

source "Kconfig.zephyr"
